ingressController:
  enabled: true
  default: true
  loadbalancerMode: shared
l2announcements:
  enabled: true
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
    ingress:
      enabled: true
      hosts:
        - hubble.eientei.internal

kubeProxyReplacement: true
k8sServiceHost: eientei.internal
k8sServicePort: 6443

envoy:
  nodeSelector:
    kubernetes.io/os: linux
    kubernetes.io/arch: amd64
  tolerations:
    - operator: Exists
  affinity: {}

operator:
  replicas: 1
